# =========================
# React Native (MobileApp)
# =========================

# Dependencies
mobile/MobileApp/node_modules/

# Android
mobile/MobileApp/android/.gradle/
mobile/MobileApp/android/build/
mobile/MobileApp/android/app/build/

# iOS (future / mac only)
mobile/MobileApp/ios/build/

# Metro
mobile/MobileApp/.metro-health-check*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

